body {
  font-family: "Bree Serif", serif;
  background-color: #FFFFFF;
  color: #8B0000;
}

h3 {
  font-family: "Bree Serif", serif;
  text-align: center;
  font-size: 25px;
}

.header {
  border: dotted solid;
  text-align: center;
  height: 700px;
}

.header h1 {
  font-size: 125px;
  text-shadow: 10px 10px 8px #19192F;
}

.header div {
  position: relative;
  bottom: -150px;
  font-size: 25px;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.flex-container .flex-item {
  flex-grow: 1;
  width: 33.33%;
  flex-shrink: 1;
  margin: 0.5%;
}

.flex-container .flex-item p {
  text-align: center;
}

.flex-container .flex-item h4, .flex-container .flex-item h5 {
  text-align: center;
}

.flex-container .flex-item a:link, .flex-container .flex-item a:visited {
  text-decoration: none;
  decoration: none;
  color: #8B0000;
}

.flex-container .flex-item i {
  font-size: 75px;
}
