body {
  font-family: "Bree Serif", serif;
}

h3 {
  font-family: "Bree Serif", serif;
  text-align: center;
  text-shadow: 5px 5px #EFEFEF;
  text-decoration: underline;
}

.header {
  border: dotted solid;
  background-color: #8B0000;
  text-align: center;
  color: #E5E5E5;
  height: 700px;
}

.header h1 {
  font-size: 125px;
  text-shadow: 10px 10px 8px #19192F;
}

.header div {
  position: relative;
  bottom: -150px;
  font-size: 25px;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.flex-container .flex-item {
  flex-grow: 1;
  width: 33.33%;
  flex-shrink: 1;
}

.flex-container .flex-item h4 {
  text-align: center;
}
