h3 {
  font-family: 'Bree Serif', serif;
  text-align: center;
  text-shadow: 5px 5px #EFEFEF;
  text-decoration: underline;
}

.header {
  border: dotted solid;
  background-color: #8B0000;
  text-align: center;
  color: #E5E5E5;
  font-family: Sansita, sans-serif;
  height: 60%;
}

.header h1 {
  font-size: 150px;
  text-shadow: 10px 10px 8px #19192F;
}

.header div {
  position: relative;
  bottom: -150px;
  font-size: 25px;
}
