$section-height: 350px
$font-size: 25px
$font-family: 'Bree Serif', serif
body
  font-family: $font-family
  background-color: #FFFFFF
  //#E5E5E5
  color: #8B0000

h3
  font-family:$font-family
  text-align: center
  text-decoration: underline

.header
  border: dotted solid
  text-align: center
  height: $section-height * 2

  h1
    font-size: $font-size * 5
    text-shadow: 10px 10px 8px #19192F

  div
    position: relative
    bottom: -150px
    font-size: $font-size

.flex-container
  display: flex
  width: 100%
  flex-direction: row
  flex-wrap: nowrap
  align-items: baseline
  justify-content: space-between
  //flex-basis: 100%

  .flex-item
    flex-grow: 1
    width: 33.33%
    flex-shrink: 1
    margin: 0.5%

    p
      text-align: center

    h4, h5
      text-align: center
