<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://use.fontawesome.com/6c720fbdb3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body ng-app="jsonResumeApp" ng-controller="headerController">
      <div class="header">
          <h1>
            {{firstName}} {{lastName}}
          </h1>
          <div>{{about}}</div>
      </div>
      <hr>
      <div class="about">
          <h3><i class="fa fa-id-card-o"></i></h3>
          <div class="flex-container">
            <div ng-repeat="item in experience" class="flex-item">
                <h4>{{item.name}}</h4>
                <h4>{{item["from-date"] | date: "MMM,yyyy"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item["to-date"]| date: "MMM,yyyy"}}</h4>
                <div>
                  <ul>
                    <li ng-repeat="role in item.roles">{{role}}</li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
      <hr>
      <div class="recommendation">
          <h3><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h3>
          <div class="flex-container">
            <div ng-repeat="item in recommendations" class="flex-item">
                <h4>{{item["first-name"]}} {{item["last-name"]}}</h4>
                <p>{{item.designation}}</p>
                <h4>@{{item.company}}</h4>
                <div>
                  {{item.description}}
                </div>
                <h5>{{item.relation}}</h5>
            </div>
          </div>
          <div>
            <h3>Many more <i class="fa fa-trophy"></i> ...</h3>
          </div>
      </div>
      <hr>
      <div class="connect">
          <h3><i class="fa fa-plug"></i></h3>
          <div class="flex-container">
            <div class="flex-item">
                  <p><a href={{social.linkedin}} aria-hidden="true" target="_blank"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="flex-item">
                <p><a href={{social.github}} aria-hidden="true" target="_blank"><i class="fa fa-github"></i></a></p>
            </div>
            <div class="flex-item">
                <p><a href={{social.codepen}} aria-hidden="true" target="_blank"><i class="fa fa-codepen"></i></a></p>
            </div>
            <div class="flex-item center">
                <p><a href={{social.facebook}} aria-hidden="true" target="_blank"><i class="fa fa-facebook-official"></i></a></p>
            </div>
          </div>
          <div>
            <h3><i class="fa fa-envelope"></i> {{email}}</h3>
          </div>
          <div>
            <h3><i class="fa fa-mobile"></i> {{mobile}}</h3>
          </div>
      </div>
  </body>
</html>
