<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body ng-app="jsonResumeApp" ng-controller="headerController">
      <div class="header">
          <h1>
            {{firstName}} {{lastName}}
          </h1>
          <div>{{about}}</div>
      </div>
      <hr>
      <div class="about">
          <h3>About</h3>
          <div class="flex-container">
            <div ng-repeat="item in experience" class="flex-item">
                <h4>{{item.name}}</h4>
                <h4>{{item["from-date"] | date: "MMM,yyyy"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item["to-date"]| date: "MMM,yyyy"}}</h4>
                <div>
                  <ul>
                    <li ng-repeat="role in item.roles">{{role}}</li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
      <hr>
      <div class="recommendation">
          <h3>Recommendation</h3>
          <div class="flex-container">
            <div ng-repeat="item in recommendations" class="flex-item">
                <h4>{{item["first-name"]}} {{item["last-name"]}}</h4>
                <p>{{item.designation}}</p>
                <h4>@{{item.company}}</h4>
                <div>
                  {{item.description}}
                </div>
                <h5>{{item.relation}}</h5>
            </div>
          </div>
      </div>
      <hr>
      <div class="connect">
          <h3>Connect Me</h3>
          <div class="flex-container">
            <div ng-repeat="item in experience" class="flex-tem">
                <div>{{item.name}}</div>
            </div>
          </div>
      </div>
  </body>
</html>
